{% extends "layout.html.twig" %}
{% block content %}
    <link href="{{ asset('css/fiche_projet.css') }}" rel="stylesheet" type="text/css" />
    <section>
        <article>
        <h2>{{ project.name }}</h2>
        <h3>Catégorie : {{ project.category }}</h3>
        <p>{{ project.description }}</p>
        </article>

        <article class="picto">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>{{ project.address }} {{ project.cp }} {{ project.city }}</p>

            <i class="fa fa-calendar" aria-hidden="true"></i>
            <p>Du : 20 juin 2010</p>
            <p>Au : 20 juin 2011</p>
            {#<p>Du :{{ project.dateBegin}}</p>#}
            {#<p>Au :{{ project.dateEnd}}</p>#}

            <i class="fa fa-users" aria-hidden="true"></i>
            <p>{{ project.participant }}</p>

        </article>

        <button><a href="{{ path('nous-soutenir') }}">Nous Soutenir</a></button>
    </section >

    <section id="button">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if project.statut == "en_cours" %}
            <button><a href="{{ path('participer', {projectId: project.id}) }}">Participer</a></button>
        {% elseif project.statut == "terminer" %}
            <p>Ce projet est terminé :</p>
            <button><a href="{{ path('nos-projets') }}">Retourner à la liste des projets</a></button>
        {% endif %}
    {% else %}
        {% if project.statut == "terminer" %}
            <p>Ce projet est terminé :</p>
            <button><a href="{{ path('nos-projets') }}">Retourner à la liste des projets</a></button>
        {% elseif project.statut == "en_cours" %}
            <p>Pour Participer Veuillez vous connectez.</p>
            <button><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></button>
        {% endif %}
    {% endif %}
    </section>


    <img src="{{ asset('img/' ~ project.photo) }} " alt="{{ project.name }}">

    {{ ivory_google_map(map) }}
    {{ ivory_google_api([map]) }}

{% endblock %}