{% extends "layout.html.twig" %}
{% block content %}

<h2>{{ project.name }}</h2>

    <p>{{ project.description }}</p>
    <img src="{{ asset('img/' ~ project.photo) }} " alt="Projet">

    <h3>Localisation : <p>{{ project.address }} {{ project.cp }} {{ project.city }}</p></h3>

    <h3>Catégorie de projet : <p>{{ project.category }}</p></h3>

    <h3>Nombre de participants au projet : <p>{{ project.participant }}</p></h3>


    <button>Je veux participer au projet !</button>


<section>
    <!-- Demander la connexion pour afficher le formulaire -->

    <form action="" method="post">
        <input type="hidden" name="id_projet" value="#" >
        <input type="hidden" name="id_membre" value="#" >

        <label for="choix_projet">Pourquoi je choisis ce projet</label>
        <textarea id="choix_projet" name="choix_projet"></textarea><br>

        <label for="competences">Ce que j'amène au projet</label>
        <textarea id="competences" name="competences"></textarea>

        <input type="submit" name="participer" value="participer">

</section>

<section>
    <h3><a href="{{ path('nos-projets') }}">D'autres projets qui pourraient vous intéresser</a></h3>
</section>
{% endblock %}