{% extends "layout.html.twig" %}
{% block content %}

    <link href="{{ asset('css/fiche_projet.css') }}" rel="stylesheet" type="text/css" />

    <section>

        <article>
        <h2>{{ project.name }}</h2>

        <p>{{ project.description }}</p>

        </article>
        <article>
            <h3>Localisation : <p>{{ project.address }} {{ project.cp }} {{ project.city }}</p></h3>

            <h3>Catégorie de projet : <p>{{ project.category }}</p></h3>

            <h3>Nombre de participants au projet : <p>{{ project.participant }}</p></h3>
            <button><a href="">Nous Soutenir</a></button>
        </article>
    </section>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% if project.statut == "en_cours" %}
            <button><a href="{{ path('participer', {projectId: project.id}) }}">Participer</a></button>
        {% elseif project.statut == "terminer" %}
            <p>Ce projet est terminé :</p>
            <button><a href="{{ path('nos-projets') }}">Retourner à la liste des projets</a></button>
        {% endif %}
    {% else %}
        {% if project.statut == "terminer" %}
            <p>Ce projet est terminé :</p>
            <button><a href="{{ path('nos-projets') }}">Retourner à la liste des projets</a></button>
        {% elseif project.statut == "en_cours" %}
            <p>Pour Participer Veuillez vous connectez.</p>
            <button><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></button>
        {% endif %}
    {% endif %}

    <img src="{{ asset('img/' ~ project.photo) }} " alt="{{ project.name }}">

{% endblock %}