{% extends "layout.html.twig" %}

{% block content %}

    <link href="{{ asset('css/index.css') }}" rel="stylesheet" type="text/css" />

    <section>

        <article>
            <div class="carousel">
                <div class="item">
                    <div class="imageContainer">
                        <img src="{{ asset('img/carousel3.jpg') }}" />
                    </div>
                    <div class="overlay">
                        <h3><a href="{{ path('nos-projets') }}">Nos projets<i class="fa fa-chevron-right" aria-hidden="true"></i></a></h3>
                        <p>Venez découvrir les projets déjà présents sur la plateforme ! </p>
                    </div>
                </div>
                <div class="item">
                    <div class="imageContainer">
                        <img src="{{ asset('img/carousel2.jpg') }}" />
                    </div>

                    <div class="overlay">
                        <h3><a href="{{ path('proposer-un-projet') }}">Proposer un projet<i class="fa fa-chevron-right" aria-hidden="true"></i></a></h3>
                        <p>Créez un compte et présentez votre propre projet à nos membres ! </p>
                    </div>
                </div>
                <div class="item">
                    <div class="imageContainer">
                        <img src="{{ asset('img/carousel1.jpg') }}" />
                    </div>
                    <div class="overlay">
                        <h3><a href="{{ path('proposer-un-projet') }}">Nous soutenir<i class="fa fa-chevron-right" aria-hidden="true"></i></a></h3>
                        <p>Faire Play Mobil est une association, si vous pouvez nous soutenir financièrement n'hésitez pas ! </p>
                    </div>
                </div>

            </div>
            </div>

        </article>

        <article>
            <h1>Faire Play Mobil</h1>
            <h2 class="align">"Inventer, s’unir, réaliser".</h2>
            <p>Et si on inventait une structure citoyenne, libre et gratuite pour fédérer nos talents, ré-inventer notre travail et accéder à nos rêves ?</p>
        </article>

    </section>

    <section>
        <h2>Qui sommes-nous ? </h2>

        <p>
            Faire Play Mobil, c'est un collectif pluri-disciplinaire réunissant artistes et artisans (peintres, plasticiens, professeurs, sculpteurs, musiciens,
            chorégraphes...), leur permettant de mutualiser leurs compétences pour la réalisation de projets artistiques, mais aussi associatifs, culturels et solidaires.

            <span>
                Objet ludique et utile, Faire Play Mobile favorise les rencontres, la réinsertion, le partage, la transmission et l'échange des savoirs entre générations, entre couches sociales.
            </span>
            <span>
                Les temps sont durs, mais Faire Play Mobile permet à des passionnés de se réaliser en dehors de leur métier, à des gens qui ne se seraient jamais croisés de se rencontrer:
            </span>

            <span>- Un réseau itinérant fédérateur de talents,</span>

            <span>- respectant l'environnement du quartier et de ses habitants,</span>

            <span>- recréant du lien social et introduisant de la créativité au quotidien, toujours de façon ludique.</span>

        </p>


        <h2 class="align">
            Artistes, artisans, scientifiques, âmes poétiques de tous les pays : unissez-vous !
        </h2>


        <p class="align">Sylvain Girvès, président de l'association</p>

        <button><a href="{{ path('bio') }}">Qui est Sylvain ?</a></button>

    </section>

    <section>
        <article>
            <h2>Comment ça marche ? </h2>

            <p> Faire Play Mobile est la plateforme qui poursuit sur le Web l'aventure collective et poétique du réel.
                Nous sommes là pour mettre en relation des porteurs de compétences avec les projets proposés par l'association. Chacun est également le bienvenu pour proposer un projet.

            </p>

            <p>Vous souhaitez proposer ou participer à un projet ?</p>
        </article>
        <button><a href="{{ path('proposer-un-projet') }}">Proposer</a></button>

        <button><a href="{{ path('nos-projets') }}">Participer</a></button>


    </section>


    <section>
        <h2>Quelques projets</h2>
        <p>Naviguez parmi nos projets ludiques !</p>


        {% for project in projects %}
            <figure>
                <a  href="{{ path('nos-projets') }}">
                <img src="{{ asset('img/'~project.photo) }}" alt="{{ project.name }}">
                <figcaption>{{ project.name }}<i class="fa fa-chevron-right" aria-hidden="true"></i></figcaption>
                </a>
            </figure>
        {% endfor %}

    </section>

{% endblock %}

