<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Faire Play Mobile</title>

    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />


</head>
<body>
    <header>
        <a><img src="../img/logo.png" alt="logo"></a>
        <nav id="login" class="fa fa-user">
            <ul>
                <li><a href="{{ path('profil') }}">Mon profil</a></li>
                <li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}

                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                </li>
            </ul>

        </nav>
        <nav id="nav">
            <a href="{{ path('index') }}">Faire Play Mobile</a>
            <ul>
                <li><a href="{{ path('nos-projets') }}">Nos projets</a></li>
                <li><a href="{{ path('proposer-un-projet') }}">Proposer un projet</a></li>
                <li><a href="{{ path('nous-soutenir') }}">Nous soutenir</a></li>
                <li><a href="{{ path('nous-contacter') }}">Contactez-nous</a></li>
            </ul>
        </nav>
    </header>

    <main>
    {% block content %}{% endblock %}
    </main>

    <footer>
            <h2>N'hésitez pas à nous contacter !</h2>
            <article>
                <i>Icone Fontawesome</i>
                <a href="{{ path('nous-contacter') }}">Nous contacter</a>

                <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
            </article>

            <article>
                <a>Mentions légales</a>
            </article>
    </footer>
</body>
</html>