<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Faire Play Mobil</title>

    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick-theme.css">


</head>
<body>
    <header>
        <a href="{{ path('homepage') }}"><img src="{{ asset('img/logo.png') }}"></a>
        <nav id="login" class="fa fa-user">
            <ul>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('profil') }}">Mon profil</a></li>
                <li>

                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
                    {% if is_granted('ROLE_ADMIN') -%}
                        <li><a href="{{ path('administration') }}">Panneau D'Administration</a></li>
                    {%- endif %}
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                    <li>
                        <a href="{{ absolute_url('register/') }}">Inscription</a>
                    </li>
                {% endif %}

                    {% if app.request.hasPreviousSession %}
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="flash-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

            </ul>

        </nav>
        <aside></aside>
            <a href="#" id="burger"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <nav id="nav">
            <ul>
                <li><a href="{{ path('homepage') }}">Faire Play Mobil</a></li>
                <li><a href="{{ path('nos-projets') }}">Nos projets</a></li>
                <li><a href="{{ path('proposer-un-projet') }}">Proposer un projet</a></li>
                <li><a href="{{ path('users') }}">Membres</a></li>
                <li><a href="{{ path('nous-soutenir') }}">Nous soutenir</a></li>
                <li><a href="{{ path('nous-contacter') }}">Contactez-nous</a></li>
            </ul>
        </nav>
    </header>

    <main>
    {% block content %}{% endblock %}
    </main>

    <footer>
            <h2 class="align">N'hésitez pas à nous contacter !</h2>
            <article>
                <p><a href="{{ path('nous-contacter') }}" class="fa fa-paper-plane" aria-hidden="true"></a></p>
                <p><img src="{{ asset('img/logo_footer.png') }}"></p>
                <p><a href="https://www.facebook.com/Faireplay.insolite/?fref=ts" class="fa fa-facebook" aria-hidden="true"></a></p>
            </article>

            <article>
                <a href="{{ path('mentions') }}">Mentions légales - </a>
                <a href="{{ path('plan_site') }}">Plan de site</a>
            </article>
    </footer>
    {# Maps #}

    {% block javascripts %}
        {# Carousel #}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
        <script src="{{ asset('js/carousel.js') }}"></script>
        {# Burger #}
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="{{ asset('js/burger.js') }}"></script>
    {% endblock %}
</body>
</html>
