{% extends "layout.html.twig" %}


{% block content %}

    {#<link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />#}

<section>
    <h2>Nos projets</h2>
    <p>Projets, créations et inventions pour aller à la rencontre des autres et fabriquer en s'amusant</p>
</section>

<section id="checkbox">
    <p>Catégories :</p>
        <form method="post" action="">
            {% for project in projects %}
                <input type="checkbox" name="category" value="{{ project.category }}">{{ project.category }}<br>
            {% endfor %}
            <input type="checkbox" name="select-all" value="select-all"> Toutes les catégories<br>

            <p>Statut :</p>
            <input type="checkbox" name="statut" value="en_cours"> En cours<br>
            <input type="checkbox" name="statut" value="terminé"> Terminé<br>
            <input type="checkbox" name="select-all" value="select-all"> Tous les projets<br>

            <input type="submit" id="rechercher" name="Rechercher" value="Rechercher">
        </form>
    </section>
    <br>

<section>
    {% for project in projects %}
        <figure>
            <img src="{{ asset('img/' ~ project.photo) }} " alt="Projet">
            <figcaption>{{ project.id }}<button><a href="{{ path('fiche', {projectId: project.id}) }}">Afficher les détails</a></button></figcaption>
        </figure>
    {% endfor %}
</section>

{% endblock %}

