{% extends "layout.html.twig" %}
{% block content %}
    <link href="{{ asset('css/bio.css') }}" rel="stylesheet" type="text/css" />
    <section>
        <h2>Contactez-moi</h2>
    </section>

        {{ form_errors(form) }}

        {{ form_start(form) }}

        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}

        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}

        {{ form_label(form.sujet) }}
        {{ form_widget(form.sujet) }}

        {{ form_label(form.message) }}
        {{ form_widget(form.message) }}

        <a href="{{ 'mentions' }}"{{ form_label(form.cgu) }}</a>
        {{ form_widget(form.cgu) }}

        {{ form_widget(form.envoyer) }}

        {{ form_end(form) }}
    </section>

{% endblock %}