{% extends "layout.html.twig" %}

{% block content %}

    <section>

        <h1>Plan du site</h1>


            <h3 style="margin-top: 1rem;">Accueil</h3>
            <ul><a  href="{{ path('homepage') }}">Faire Play Mobil</a></ul>
            <ul><a  href="{{ path('bio') }}">Qui est Sylvain ?</a></ul>

            <h3 style="margin-top: 1rem;">Les Projets</h3>
            <ul><a  href="{{ path('nos-projets') }}">Nos projets</a></ul>
            <ul><a  href="{{ path('proposer-un-projet') }}">Proposer un projet</a></ul>

            <h3 style="margin-top: 1rem;">Contact</h3>
            <ul><a  href="{{ path('nous-soutenir') }}">Nous soutenir</a></ul>
            <ul><a  href="{{ path('nous-contacter') }}">Contactez-nous</a></ul>

    </section>

{% endblock %}