{% extends "layout.html.twig" %}

{% block content %}

    <section>

        <h1>Plan du site</h1>

            <li><a  href="{{ path('homepage') }}">Faire Play Mobil</a></li>
            <li><a  href="{{ path('bio') }}">Qui est Sylvain ?</a></li>
            <li><a  href="{{ path('nos-projets') }}">Nos projets</a></li>
            <li><a  href="{{ path('proposer-un-projet') }}">Proposer un projet</a></li>
            <li><a  href="{{ path('nous-soutenir') }}">Nous soutenir</a></li>
            <li><a  href="{{ path('nous-contacter') }}">Contactez-nous</a></li>

    </section>

{% endblock %}