{% extends '::layout.html.twig' %}

{% block content %}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet" type="text/css" />
    <h2>Gestion des projets</h2>
    <table>
        <tr>
            <th>Nom</th>
            <th id="description">Description</th>
            <th>Ville</th>
            <th>Adress</th>
            <th>Code Postal</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Categorie</th>
            <th>Photo</th>
            <th>Nombre de Participant</th>
            <th>Statut</th>
            <th>Modifier/Supprimer</th>
        </tr>
    {% for project in projects %}
        <tr>
            <td>{{ project.name }}</td>
            <td id="description">{{ project.description }}</td>
            <td>{{ project.city }}</td>
            <td>{{ project.address }}</td>
            <td>{{ project.cp }}</td>
            <td>{{ project.dateBegin|date('d-m-Y') }}</td>
            <td>{{ project.dateEnd|date('d-m-Y') }}</td>
            <td>{{ project.category }}</td>
            <td>{{ project.photo }}</td>
            <td>{{ project.participant }}</td>
            <td>{{ project.statut }}</td>
            <td>
                <button>
                    <a href="{{ path('modification_projets', {'id' : project.id}) }}">Modifier</a>
                </button>
                <button>
                    <a href="{{ path('suppression_de_projet', {'idProjet' : project.id}) }}">Supprimer</a>
                </button>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}